@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.27.1/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.27.1/dist/theme-default.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/controls@latest/dist/style.css';

#app {
  display: flex;
  flex-direction: row; 
  margin: 0 auto;
  padding: 0rem;
  font-weight: normal;
  height: 100vh;
  width: 100vw;
}
