@import '@vue-flow/core/dist/style.css';
@import '@vue-flow/core/dist/theme-default.css';
@import '@vue-flow/controls/dist/style.css';
@import '@vue-flow/node-resizer/dist/style.css';

#app {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-weight: normal;
  height: 100vh;
  width: 100vw;
}

html::-webkit-scrollbar {
  display: none;
}

.side-panel {
  position: absolute;
  top: 25%;
  left: 10px;
  z-index: 5;
  cursor: pointer;
}

.top-bar {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
}

.icon-button {
  padding: 4px 6px;
  width: fit-content;
  text-align: center;
}

.icon-button:hover:not(.disable-hover) {
  background-color: #d4d4d4;
}

.icon-button.with-bottom-border {
  border-bottom: 1px solid #dfdfdf; /* Adjust color and thickness as needed */
}

.icon-button.with-right-border {
  border-right: 1px solid #dfdfdf;
}

.custom-label {
  font-size: 12px;
  color: #515a6e;
  margin-bottom: 2px;
}
.custom-input {
  padding: 6px 8px;
  border: 0.5px solid lightgrey;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  background-color: white;
}

.custom-input:focus {
  border-color: #007bff;
}

/* This is for the node edit menu*/
.bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}
.customized-button {
  display: flex;
  padding: 6px;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}
.customized-button:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}

.bg {
  background-color: white;
  padding: 8px;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(8px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}
