@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.27.1/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.27.1/dist/theme-default.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/controls@latest/dist/style.css';

#app {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-weight: normal;
  height: 100vh;
  width: 100vw;
}

html::-webkit-scrollbar {
  display: none;
}

.icon-button {
  padding: 4px 6px;
  width: fit-content;
  text-align: center;
}

.icon-button:hover:not(.disable-hover) {
  background-color: #d4d4d4;
}

.icon-button.with-bottom-border {
  border-bottom: 1px solid #dfdfdf; /* Adjust color and thickness as needed */
}

.icon-button.with-right-border {
  border-right: 1px solid #dfdfdf;
}
